<!-- <script src="https://kit.fontawesome.com/cece914b1a.js" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.tailwindcss.com"></script> -->
 
<script>
    (function() {
    if (!localStorage.getItem("visited")) {
      localStorage.setItem("visited", "true"); 
      window.location.href = "/page/navigation/";
    }
  })();
</script>


<style type="text/css">
    .menu-social svg, #main-menu-li-svg-map {
        fill: currentColor;
    }
    html[data-scheme="dark"] .menu-social svg, #main-menu-li-svg-map {
        fill: currentColor;
    }


    html[data-scheme="dark"] .menav-navp-card p {
        color: #bbb;
    }
    .menav-navp-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    span.art-tags {
        color: white;
        background-color: #a64acf;
        border: 4px solid #a64acf;
        border-radius: 15px;
        padding: 0% 2%;
  }
</style>

<!-- Google AD Sense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7819682643742139"
     crossorigin="anonymous"></script>
