---
import App from "../layouts/App.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<App>
    <Header slot="header">What</Header>
    <p>内容放这里</p>
    <Footer slot="footer">Hey</Footer>
</App>
