---
import App from "../layouts/App.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
    <head> </head>
    <body>
        <App>
            <Header slot="header">What</Header>

            <Footer slot="footer">Hey</Footer>
        </App>
    </body>
</html>
