---
import { getCollection, render } from "astro:content";
import App from "../../layouts/App.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts"); // ← 放里面
    return posts
        .filter((p) => !p.data.draft)
        .map((p) => ({
            params: { slug: p.id }, // p.id 就是文件名
            props: { post: p }, // ← 别忘了传 props
        }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<App underlined="/blog">
    <div class="flex flex-col align-middle items-center">
        <h1 class="">{post.data.title}</h1>
        <article class="prose dark:prose-invert max-w-none">
            <Content />
        </article>
    </div>
</App>
